/docs/
*/__pycache__/
__pycache__
venv/
.venv/
env/
*/venv/

logs/

data/

/src/calc_service/__pycache__/
/src/decision_service/__pycache__/
/src/news_service/__pycache__/
/src/stock_service/__pycache__/
/src/code/calc_service/__pycache__/
/src/code/decision_service/__pycache__/
/src/code/news_service/__pycache__/
/src/code/stock_service/__pycache__/